<nav>
  <ul>
    {% for item in navigation.main %}
    <li>
      <a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>
        {{ item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>