<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Skelly Solutions</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>
  {% include "header.njk" %}
  {% include "navigation.njk" %}
  
  {{ content | safe }}
  
  {% include "footer.njk" %}
</body>
</html>